node_modules/
src/keys/private-key.pem
src/keys/public-key.pem

database.db

records/*
!records/.gitkeep

uploads/*
!uploads/.gitkeep

file.pdf
manifest.json
prova.ots
recuperado.pdf
assinatura.sig

.DS_Store